body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffe6f2; /* Romantic pink background color */
}

h1 {
    border-bottom: 2px solid #ff69b4; /* Romantic pink border color */
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #ff69b4; /* Romantic pink text color */
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #8c8c8c; /* Romantic gray text color */
}

ul {
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 50px;
}

li {
    margin-bottom: 15px;
    list-style-type: none; /* Remove bullet points or numbers for list items */
}

/* Set styles for clock element */
#clock {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    color: #ff69b4; /* Romantic pink text color */
}

#reasonPlaceholder {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.reason-list {
    padding-left: 20px;
    list-style-type: disc;
    background-color: white; /* Set white background color */
}

.text-effect-romantic {
    position: relative;
    display: inline-block; /* Change display to inline-block */
    text-decoration: none;
}

.text-effect-romantic::after {
    content: attr(data-text); /* Use data-text attribute for content */
    position: relative; /* Change position to relative */
    bottom: 0px; /* Adjust bottom value to control vertical alignment */
    height: 3px;
    opacity: 0.7;
    z-index: 1;
    font-weight: bold;
    color: #ff007f; /* Set default color for romantic effect */
    text-shadow: 1px 1px 2px #ff007f; /* Set default text shadow for romantic effect */
}


/* Generate random color and text shadow for each nth-child element */
.text-effect-romantic:nth-child(2n)::after {
    color: #ff69b4;
    text-shadow: 1px 1px 2px #ff69b4;
}

.text-effect-romantic:nth-child(3n)::after {
    color: #ff4500;
    text-shadow: 1px 1px 2px #ff4500;
}

.text-effect-romantic:nth-child(4n)::after {
    color: #ff6347;
    text-shadow: 1px 1px 2px #ff6347;
}

.text-effect-romantic:nth-child(5n)::after {
    color: #e6005c;
    text-shadow: 1px 1px 2px #e6005c;
}

.reason-list {
    display: none;
}

/* Button styles */
/* Button styles with rounded corners */
.show-more-button {
    display: inline-block;
    padding: 12px 20px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 25px; /* Add border-radius property to round the corners */
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.show-more-button:hover {
    background-color: #ff5ca1; /* Lighter shade of romantic pink on hover */
}

/* Set styles for clock element spans */
#clock span {
    margin-right: 5px;
}

/* Adjust font size for smaller screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Add your footer styles here */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fa8aad; /* Set the background color to a lighter pink */
    border-top: 2px solid #000000; /* Set the border color to black */
    font-weight: bold;
    z-index: 5;
}


.text-container {
    position: relative;
    z-index: 2; /* Increase z-index to position the text above the background image */
}

.reason::before {
    content: '❤';
    color: #ff69b4; /* Romantic pink heart color */
    position: absolute;
    font-size: 1.5em; /* Set the font size to 1.5em for scalability */
    margin-left: -1em; /* Set the left margin to -1em to horizontally center the heart icon */
    top: -7px; /* Move the heart icon up by 10 pixels */
    z-index: 3; /* Set z-index to position the heart icon above the text and the background image */
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .reason::before {
        font-size: 1em; /* Adjust the font size to 1em for smaller screens */
        margin-left: -0.5em; /* Adjust the left margin to -0.5em for smaller screens */
        top: -5px; /* Move the heart icon up by 5 pixels on smaller screens */
    }
}

.reason {
    position: relative;
    transition: color 0.2s ease;
    color: #8c8c8c; /* Romantic gray text color */
}

.reason:hover {
    color: #ff69b4; /* Romantic pink text color on hover */
    text-shadow: 0 0 5px #000;
    font-weight: 300;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 25%;
    z-index: -1; /* Set a higher z-index value */
    background-image: url('Hearts.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* CSS animation duration for larger screens */
@keyframes moveBackground {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 300% 0;
    }
  }
  
  .background-image {
    animation: moveBackground 20s linear infinite; /* Adjust the animation duration (in seconds) for larger screens */
  }
  
  /* CSS animation duration for smaller screens */
   @media (max-width: 768px) { 
    .background-image {
      animation: moveBackground 0.5s linear infinite; /* Adjust the animation duration (in seconds) for smaller screens */
    }
}